<style>
    .header {
    width: 100vw;
    margin: 0px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
  }
  </style>
  <nav class="header">
    <h1 style="color:white; margin-left: 40px">DETIK NEWS</h1>
    <div>
      <a style="color:white; margin-right: 30px;" href="/home">Home</a>
      <a style="color:white; margin-right: 50px" href='/reports'>Admin Only</a>
      <a style="color:white; margin-right: 50px" href='/login'>Logout</a>
    </div>
  </nav>