<!DOCTYPE html>
<html lang="en">
  <%- include('partials/headTag', {title: 'User Profile'}) %>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Form Add News</title>
  <style>
    * {
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
    }
    .container {
      width: 50%;
      height: fit-content;
      padding: 50px;
      border-radius: 12px;
      background-color: #fff;
      box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
    }
    .form-add>input,
    .form-add>select {
      margin: 5px 0px;
      padding: 5px;
      width: 100%;
      height: 40px;
      border-radius: 5px;
      border: solid 1px gray;
    }
    form div {
      display: flex; 
      justify-content: center;
    }
    input[type=button], input[type=submit]{
      width: 100px;
      height: 30px;
      margin: 10px;
      border: none;
      border-radius: 5px;
      color: white;
      background-color: rgb(0, 0, 0);
    }
    
  </style>
</head>
<body>
  <%- include('partials/navBar') %>
  <div style="display:flex; justify-content:center; margin: 20px">
    <div class="container">
      <form action="/register/userprofile" method="post" class="form-add">
        <h1 style="text-align: center">User Profile</h1>
        <label>First Name</label><br>
        <input type="text" placeholder="satrio" name="firstName"><br>
        <label>Last Name</label><br>
        <input type="text" placeholder="hutomo" name="lastName"><br>
        <label>Age</label><br>
        <input type="text" placeholder="50" name="age"><br>
        <label>Gender</label><br>
        <input type="text" placeholder="female" name="gender"><br>
        <label>Email</label><br>
        <select name = "UserId" id="">
            <% data.forEach(el => { %>
              <option value="<%= el.id %>">< role ></option>
              <% }) %>
          </select> <br>
        <div>
          <input type="submit" value="Submit">
        </div>
      </form>
      <% if (error) { %>
        <% error.split(',').forEach(el => { %>
          <p style="color: red"> 
            <%= el %>
          </p>
          <% }) %>
      <% } %>
      </div>
  </div>
</body>
</html>